
.container{
    background-color: rgb(30, 30, 30);
    display: flex;
    height: 100vh;
    margin: -8px -8px;
   
    gap: 1%;

}
.div-side{
    display: flex;
    flex-direction: column;
    
    background-color: #1A1A1A;
    flex-basis: 9%;
    text-align: center;
    gap: 10px;
}
.div-side > button > a{
    text-decoration: none;
    color: white;
}
.div-side > button{
    background-color: #1A1A1A;
    border: 1px  rgba(255, 255, 255, 0.278) solid;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 10px;
    transition: background-color 0.3s linear;
    
}
.div-side > button:hover{
    
    background-color: aliceblue;
    
}
.div-side >button > a:hover{
    color: black;
}
.div-side-logo{
    
  width: 100%;  
}
.div-side-plogo{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: 70%;

}
.div-side-copy{
    color: rgba(245, 245, 245, 0.378);
    position: absolute;
    top: 90vh;
    left: 1.5vh;
    max-width: 10%;
    
}

.div-text{
background-color: rgb(30, 30, 30);
flex-basis: 31%;
flex-grow: 1;
}
.div-text > p{
    margin: 0px;
    padding: 0px;
}

.no-tags{
    color: white;
}
.tags{
    color: #767474;
}
.p1{
position: relative;
 top: 2%;
 left: 1%;
}
.p2{
    position: relative;
    top: 2.5%;
    left: 2%;
}
.p3{
    position: relative;
    top: 20%;
    left: 2.5%;
}
.p4 {
    position: relative;
    top: 20.5%;
    left: 4%;
    font-size: 1.5rem;
    margin-bottom: -14px !important;
}
.p5,.p6{
    position: relative;
    top: 21%;
    left: 4%;
    font-size: 4rem;
    margin-bottom: -17px !important;
    
   
}
.p7{
    position: sticky;
    top: 340px;
    margin-left: 470px !important;
    min-width: 49px;
    
}
.p8{
    position: relative;
    top: 23%;
    left: 2.5%;
}
.p9{
    position: relative;
    top: 23.5%;
    left: 4%;
}
.p10{
    position: relative;
    top: 24%;
    left: 2.5%;
}

.div-img{
    background-color: rgb(30, 30, 30);

flex-basis: 29%;
flex-grow: 1;

}
.div-img > div{
    position: relative;
    top: 15%;
    text-align: center;
}
.div-img > div > img{
    
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
    border-radius: 10% 10% 10% 10%;
    width: 70%;
    height: 70%;
    

}
.div-contact{
background-color: rgb(30, 30, 30);
flex-basis: 10%;

}
.div-contact > div{
position: relative;
top: 4%;
}
.div-contact > div > img {
height: 30%;
width: 30%;
transition: background-color 0.3s ease;

}
.div-contact >div > img:hover{
opacity: 0.5;
background-color: aliceblue;
}

