
.container{
    background-color: black;
    display: flex;
    height: 100vh;
    margin: -8px -8px;
   
    gap: 1%;

}
.div-side{
    display: flex;
    flex-direction: column;
    
    background-color: #1A1A1A;
    flex-basis: 9%;
    text-align: center;
    gap: 10px;
}
.div-side > button > a{
    text-decoration: none;
    color: white;
}
.div-side > button{
    background-color: #1A1A1A;
    border: 1px  white solid;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 10px;
    
}
.div-side-logo{
    
  width: 100%;  
}
.div-side-plogo{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: 70%;

}
.div-side-copy{
    color: rgba(245, 245, 245, 0.378);
    position: absolute;
    top: 90vh;
    left: 1%;
    max-width: 10%;
    
}

.div-text{
background-color: blue;
flex-basis: 31%;
flex-grow: 1;
}

.div-img{
background-color: brown;
flex-basis: 30%;
flex-grow: 1;

}
.div-contact{
background-color: chartreuse;
flex-basis: 9%;
align-self: fe;
}

